<!DOCTYPE html>
<html lang="en" th:fragment="html (content, footer)">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${site.title}"></title>
    <link rel="stylesheet" th:href="@{/assets/dist/style.css}" href="./assets/dist/style.css"/>
    <script th:src="@{/assets/dist/main.iife.js}"></script>
</head>
<body>
<div  class="flex gap-5 container" style="padding-left: 30px;padding-right: 30px">
    <th:block th:replace="~{modules/left-sidebar}"/>
    <main class="main">
        <th:block th:replace="${content}"/>
        <th:block th:replace="${footer}"/>
    </main>
    <th:block th:replace="~{modules/right-sidebar}"/>

</div>
</body>
<script>

    // for (const category of document.querySelectorAll(".article-category-link")) {
    //   category.style.backgroundColor = RandomColor2();
    // };
    //
    // function RandomColor2() {
    //   return "hsl(" +
    //     Math.round(Math.random() * 360) + "," +
    //     Math.round(Math.random() * 100) + '%,' +
    //     Math.round(Math.random() * 80) + '%)';
    // }
</script>
</html>
