<!DOCTYPE html>
<html lang="en" th:fragment="html (content, footer)">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${site.title}"></title>
    <link rel="stylesheet" th:href="@{/assets/dist/style.css}" href="./assets/dist/style.css"/>
    <script th:src="@{/assets/dist/main.iife.js}"></script>
</head>
<body>
<div  class="flex gap-5 container" style="padding-left: 30px;padding-right: 30px">
    <th:block th:replace="~{modules/left-sidebar}"/>
    <main class="main">
        <th:block th:replace="${content}"/>
        <th:block th:replace="${footer}"/>
    </main>
    <th:block th:replace="~{modules/right-sidebar}"/>

</div>
</body>
<script>

    // for (const category of document.querySelectorAll(".article-category-link")) {
    //   category.style.backgroundColor = RandomColor2();
    // };
    //
    // function RandomColor2() {
    //   return "hsl(" +
    //     Math.round(Math.random() * 360) + "," +
    //     Math.round(Math.random() * 100) + '%,' +
    //     Math.round(Math.random() * 80) + '%)';
    // }
    function findParent(el, e) {
        for (let i = el.length - 1; i > 1; i--) {
            if (el[i].localName > e.localName) {
                return el[i];
            }
        }
        return null;
    }

    let catalogs = document.querySelectorAll(".article-content h1[id], .article-content h2[id], .article-content h3[id], .article-content h4[id], .article-content h5[id], .article-content h6[id]");
    console.log(catalogs)
    let catalogElement = document.querySelector("#TableOfContents");
    let l = [];
    catalogs.forEach(e => {
        if (l.length === 0) {
            let ol = document.createElement("ol");
            catalogElement.appendChild(ol);
            l.push(ol)
        } else {

        }
        let lastElement = l[l.length - 1];
        let li = document.createElement("li");
        ol.appendChild(li);
        let a = document.createElement("a");
        a.innerText = e.outerText;
        li.appendChild(a)

    })
</script>
</html>
