<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="left-sidebar">
    <aside class="sidebar left-sidebar">
        <section>
            <!-- 站点信息 -->
            <div class="side-card">
                <div style=" min-width: 100px;min-height: 100px;width: 100px;height: 100px">
                    <a th:href="${site.url}" >
                        <img style="border-radius: 50%;" th:src="${site.logo}">
                    </a>
                </div>

                <div class="p-2">
                    <div class="p-1 title" th:text="${site.title}">
                    </div>
                    <div class="p-1 subtitle" th:text="${site.subtitle}">
                    </div>
                </div>

            </div>
        </section>
        <!-- 导航栏 -->
        <section  class="min-w-full side-card">
            <ol>
                <th:block th:with="menu = ${menuFinder.getPrimary()}">
                    <th:block th:with="menuItems = ${menu.menuItems}">
                        <li th:each="menuItem : ${menuItems}">
                            <a th:href="@{${menuItem.status.href}}">
                                <img th:src="${#annotations.getOrDefault(menuItem, 'icon','/themes/halo-theme-wind/assets/img/menu.svg')}"
                                     th:alt="${menuItem.spec.displayName}" height="20" width="20">
                                <span>
                [[${menuItem.status.displayName}]]
              </span>
                            </a>
                        </li>
                    </th:block>

                </th:block>
            </ol>
        </section>
    </aside>
</th:block>
</html>